{% extends '_base.html.twig' %}

{% set folder = database.query('SELECT folder FROM pages WHERE id="/fsps/groups/' ~ page.metadata.group ~ '"').fetchColumn() %}

{% if folder < 10 %}
    {% set folder_name = 'Folder_0' ~ folder %}
{% else %}
    {% set folder_name = 'Folder_' ~ folder %}
{% endif %}

{% set file1 = page.metadata.files.0 %}

{% block title_head %}
    FSPS {{ page.metadata.group|replace({'_': ' '})}}, photo {{page.id|basename}} ::
{% endblock %}

{% block title_page %}
{% endblock %}

{% block head %}
    <link rel="schema.PA" href="http://www.pictureaustralia.org/schemas/pa/" />
    <meta name="DC.title" content="Fremantle Society Photographic Survey, {{ page.metadata.group|replace({'_': ' '})}}, photo {{page.id|basename}}" />
    <meta name="DC.creator" content="Fremantle Society Inc." />
    <meta name="DC.coverage" content="{% if page.metadata.year %}{{page.metadata.year}}{% else %}1978–80{% endif %}" />
    <meta name="DC.description" content="" />
    <meta name="DC.format" content="Photographic print" />
    <meta name="DC.identifier" content="{{page.id}}" />
    <meta name="DC.rights" content="Creative Commons Attribution-ShareAlike 4.0 International" />
    <meta name="DC.subject" content="Fremantle, Western Australia" />
    <meta name="DC.type" content="Image" />
    <meta name="PA.thumbnail" content="https://archive.org/download/FSPS1978/thumb/{{folder_name}}/{{page.metadata.group}}/{{file1.filename|replace({'.png': '_thumb.jpg'})}}" />
    <meta name="PA.viewcopy" content="https://archive.org/download/FSPS1978/display/{{folder_name}}/{{page.metadata.group}}/{{file1.filename|replace({'.png': '_display.jpg'})}}" />
    <meta name="PA.location" content="{{site.config.url}}{{page.id}}.html" />
{% endblock %}

{% block main %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{page.link('/index')}}.html">Home</a></li>
            <li class="breadcrumb-item"><a href="{{page.link('/fsps/index')}}.html" title="Fremantle Society Photographic Survey">FSPS</a></li>
            <li class="breadcrumb-item"><a href="{{page.link('/fsps/groups/'~page.metadata.group)}}.html">{{page.metadata.group|replace({'_': ' '})}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Photo {{page.id|basename}}</li>
        </ol>
    </nav>

    <h1>
        {{page.metadata.group|replace({'_': ' '})}}, photo {{page.id|basename}}
    </h1>

    {% if page.metadata.year %}
        <p>Year: {{page.metadata.year}}</p>
    {% endif %}

    {# Remove blank building entries. #}
    {% if page.metadata.buildings and page.metadata.buildings|filter(v => v != '')|length > 0 %}
        <p>
            Buildings:
            {% for building_id in page.metadata.buildings %}
                {% set building = database.query('SELECT * FROM pages WHERE id="/buildings/' ~ building_id ~ '"').fetch() %}
                <a href="{{ page.link( '/buildings/'~building_id ) }}.html">{{building.title}}</a>
            {% endfor %}
        </p>
    {% else %}
        <p>This photo has not yet been associated with any <a href="{{ page.link('/buildings/index') }}.html">buildings</a>.</p>
        <p>If you have information about the buildings or anything else in this photo, please leave a comment below.</p>
    {% endif %}

    <p>Caption:</p>
    <blockquote>{{file1.caption|md2html|raw}}</blockquote>

    <figure class="figure mx-auto">
        <img src="https://archive.org/download/FSPS1978/display/{{folder_name}}/{{page.metadata.group}}/{{file1.filename|replace({'.png': '_display.jpg'})}}"
            class="figure-img img-fluid rounded" />
        {# <figcaption class="figure-caption">
        </figcaption> #}
    </figure>

    <p>
        <a href="https://archive.org/download/FSPS1978/full/{{folder_name}}/{{page.metadata.group}}/{{file1.filename}}" class="btn btn-secondary btn-sm active">
            Download full-resolution version
        </a>
    </p>

    <p>Filename: <code>{{ file1.filename }}</code></a></p>

    <p>
        Cite this photo as follows:
    </p>

    <blockquote>
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
            <span property="cc:attributionName">Fremantle Society Inc.</span>,
            {% if page.metadata.year %}{{page.metadata.year}}{% else %}1980{% endif %}.
            <em>
                <span property="dct:title">Fremantle Society Photographic Survey, {{page.metadata.group|replace({'_': ' '})}} photo {{page.id|basename}}</span>.
            </em>
            <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license noopener noreferrer"><abbr title="Creative Commons">CC</abbr> Attribution-ShareAlike 4.0 International</a>.
            Retrieved from <a href="{{site.config.url}}{{page.id}}.html">{{site.config.url}}{{page.id}}.html</a>
        </p>
    </blockquote>

    {% import "_macros.twig" as macros %}
    {{ macros.comments() }}

{% endblock %}
