{% extends '_base.html.twig' %}

{% block main %}

    <h1>Photos</h1>

    <p>
        This part of the site contains all information about
        the {{ database.query('SELECT COUNT(*) AS count FROM pages WHERE template = "photo"').fetchColumn() }} photos
        that are in the database.
        They were originally stored lose in nine carboard boxes,
        but after digitization were moved to the following archive folders:
    </p>

    <ol>
    {% for p in database.query('SELECT folder, COUNT(*) AS count FROM pages WHERE template = "photo" GROUP BY folder') %}
        <li>
            <a href="{{page.link('/photos/Folder_'~p.folder)}}.html">Folder {{p.folder}}</a> ({{p.count}} photos)
            {% for s in database.query('SELECT street, COUNT(*) AS count FROM pages WHERE template="photo" AND folder="'~p.folder~'" GROUP BY street') %}
                {{s.street}}
            {% endfor %}
        </li>
    {% endfor %}
    </ol>

{% endblock %}
