{% extends '_base.html.twig' %}

{% block main %}
    {% import "_macros.twig" as macros %}

    {% set streets = database.query("SELECT * FROM pages WHERE template='street' ORDER BY title ASC").fetchAll() %}

    <p>
        This is the index to the data about all {{streets|length}} streets documented on this site.
        There is also a more succinct <a href="{{page.link('/streets/index')}}.html">main index</a> to the streets.
    </p>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Named after</th>
                <th>Wikidata</th>
                <th><a href="{{page.link('/fsps/index')}}.html" title="Fremantle Society Photographic Survey">FSPS</a> groups</th>
                <th>Photos</th>
            </tr>
        </thead>
        {% for p in streets %}
            {% if p.wikidata %}
                {% set wditem = wikidata(p.wikidata) %}
            {% else %}
                {% set wditem = false %}
            {% endif %}
            <tr>
                <td>
                    <a href="{{page.link(p.id)}}.html">{{p.title}}</a>
                </td>
                <td>
                    {% if wditem.claims.P138 is defined %}
                        {% for named_after in wditem.claims.P138 %}
                            {% set named_after_item = wikidata(named_after.mainsnak.datavalue.value.id) %}
                            {{named_after_item.labels.en.value}}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if p.wikidata %}
                        <a href="https://www.wikidata.org/wiki/{{p.wikidata}}">{{p.wikidata}}</a>
                    {% endif %}
                </td>
                <td>
                    {% set fsps_groups = database.query('SELECT p.* FROM pages p, json_each(p.streets) streets
                        WHERE template="fsps_group" AND streets.value LIKE "'~(p.id|basename)~'" ORDER BY id DESC').fetchAll() %}
                    {% for fsps_group in fsps_groups %}
                        <a href="{{page.link(fsps_group.id)}}.html">{{fsps_group.title}}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if wditem.claims.P18 is defined %}
                        <a href="https://commons.wikimedia.org/wiki/File:{{wditem.claims.P18.0.mainsnak.datavalue.value|replace({' ':'_'})}}"
                            title="This street has a main image">
                            Yes
                        </a>
                    {% elseif wditem %}
                        No
                    {% endif %}
                    {% if wditem %}
                        {% set depicts_query %}
                            SELECT (count(?file) as ?count) WHERE { ?file wdt:P180 wd:{{wditem.id}} }
                        {% endset %}
                        {% set depicts_count = commons_query(depicts_query).0.count %}
                        {% if depicts_count %}
                            -
                            <a href="https://commons.wikimedia.org/wiki/Special:MediaSearch?search=haswbstatement%3AP180%3D{{wditem.id}}"
                                target="_blank" title="View all (opens in a new tab)">
                                {{depicts_count|number_format}}
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
