{% extends '_base.html.twig' %}

{% set PROP_NAME = 'P2561' %}
{% set PROP_COMMONS_CAT = 'P373' %}

{% block main %}
    {% set all_streets = [] %}
    {% set street_count = 0 %}
    {% set etymology_count = 0 %}
    {% set women_count = 0 %}
    {% set nonwomen_count = 0 %}
    {% for s in database.query("SELECT * FROM pages WHERE template='street'").fetchAll() %}
        {% set street_count = street_count + 1 %}
        {% if s.wikidata is defined and s.wikidata %}
            {% set street_item = wikidata(s.wikidata) %}
            {% if street_item.claims.P138 is defined %}
                {% set etymology_count = etymology_count + 1 %}
                {% for named_after in street_item.claims.P138 %}
                    {% set named_after_item = wikidata(named_after.mainsnak.datavalue.value.id) %}
                    {% if named_after_item.claims.P21 is defined %}
                        {% for sex in named_after_item.claims.P21 %}
                            {% if sex.mainsnak.datavalue.value.id == 'Q6581072' %}
                                {% set women_count = women_count + 1 %}
                            {% else %}
                                {% set nonwomen_count = nonwomen_count + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {# Other names #}
            {% if street_item.claims[PROP_NAME] is defined %}
                {% for name in street_item.claims[PROP_NAME] %}
                    {% if name.mainsnak.datavalue.value.text != s.title %}
                        {% set all_streets = all_streets|merge([{
                            is_alias: true,
                            title: name.mainsnak.datavalue.value.text,
                            alias_of: s
                        }]) %}
                    {% endif %}
                {% endfor %}
            {% endif %}

        {% endif %}
        {% set all_streets = all_streets|merge([s]) %}
    {% endfor %}

    <p>
        This is the main index to all <strong>{{street_count}} streets</strong> in Fremantle.
        We have recorded <strong>etymology data for {{etymology_count}}</strong> streets; of the ones named after people,
        <strong>{{ (women_count/nonwomen_count) | format_number(style='percent') }}
        of the people are women</strong>.
    </p>

    <p>
        There is also a <a href="{{page.link('/streets/table')}}.html">tabular view</a> available for this data.
        Note also that the number of items shown below is larger than the total number of streets
        because former and alternative names are also included (for easier navigation).
    </p>

    <ol class="columns">
        {% for p in all_streets|sort((a, b) => a.title <=> b.title) %}
            <li>

                {% if p.wikidata is defined and p.wikidata %}
                    {% set street_item = wikidata(p.wikidata) %}
                    {% if street_item.sitelinks.enwiki is defined %}
                        <a href="https://en.wikipedia.org/wiki/{{street_item.sitelinks.enwiki.title}}" title="Read more on Wikipedia">{#
                            #}<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/20px-Wikipedia-logo-v2.svg.png"
                                 alt="Wikipedia logo" width="20" height="18" />{#
                        #}</a>
                    {% endif %}
                    {% if street_item.claims[PROP_COMMONS_CAT] is defined %}
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Commons_logo_icon.svg/15px-Commons_logo_icon.svg.png"
                            width="15" height="20" alt="Camera icon" title="This street has a photo gallery" />
                    {% endif %}
                {% endif %}

                {% if p.is_alias is not defined %}
                    <a href="{{page.link(p.id)}}.html">{{p.title}}</a>

                    {% set buildings = database.query('SELECT * FROM pages WHERE template="building" AND id LIKE "/buildings/'~(p.id|basename)~'/%" ORDER BY id DESC').fetchAll() %}
                    {% if buildings|length %}
                        {{buildings|length}}&nbsp;building{% if (buildings|length) > 1 %}s{% endif %}
                    {% endif %}
                {% endif %}

                {% if p.is_alias is defined %}
                    <em>{{p.title}}</em>, see <a href="{{page.link(p.alias_of.id)}}.html">{{p.alias_of.title}}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>

{% endblock %}
