{% extends '_base.html.twig' %}

{% block main %}
    {% set street_count = 0 %}
    {% set etymology_count = 0 %}
    {% set women_count = 0 %}
    {% for s in database.query("SELECT * FROM pages WHERE template='street'").fetchAll() %}
        {% set street_count = street_count + 1 %}
        {% if s.wikidata is defined and s.wikidata %}
            {% set street_item = wikidata(s.wikidata) %}
            {% if street_item.claims.P138 is defined %}
                {% set etymology_count = etymology_count + 1 %}
                {% for named_after in street_item.claims.P138 %}
                    {% set named_after_item = wikidata(named_after.mainsnak.datavalue.value.id) %}
                    {% if named_after_item.claims.P21 is defined %}
                        {% for sex in named_after_item.claims.P21 %}
                            {% if sex.mainsnak.datavalue.value.id == 'Q6581072' %}
                                {% set women_count = women_count + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <p>
        This is the main index to all <strong>{{street_count}} streets</strong> in Fremantle.
        We have recorded <strong>etymology data for {{etymology_count}}</strong> streets; of these,
        <strong>{{ (women_count/etymology_count) | format_number(style='percent') }}
        are named after women</strong>.
    </p>

    <p>
        There is also a <a href="{{page.link('/streets/table')}}.html">tabular view</a> available for this data.
    </p>

    <ol class="columns">
        {% for p in database.query("SELECT * FROM pages WHERE template='street' ORDER BY title ASC").fetchAll() %}
            <li>
                <a href="{{page.link(p.id)}}.html">{{p.title}}</a>
                {% set buildings = database.query('SELECT * FROM pages WHERE template="building" AND id LIKE "/buildings/'~(p.id|basename)~'/%" ORDER BY id DESC').fetchAll() %}
                {% if buildings|length %}
                    {{buildings|length}}&nbsp;building{% if (buildings|length) > 1 %}s{% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ol>

{% endblock %}
