{% extends '_base.html.twig' %}

{% block main %}

    <p>
        {% if page.metadata.wikidata is defined and page.metadata.wikidata %}
            <a href="https://www.wikidata.org/wiki/{{ page.metadata.wikidata }}">{{ page.metadata.wikidata }}</a>:
            {{ wikidata( page.metadata.wikidata ).descriptions.en.value }}
        {% else %}
            No <a href="https://www.wikidata.org">Wikidata</a> item exists for this street yet.
        {% endif %}
    </p>

    {% if page.body %}
        {{ page.body|md2html|raw }}
    {% endif %}

    {% set fsps_groups = database.query('SELECT p.* FROM pages p, json_each(p.streets) j WHERE j.value LIKE "'~(page.id|basename)~'" ORDER BY p.title DESC') %}
    {% set list_items %}
        {% for p in fsps_groups %}
            <li><a href="{{page.link(p.id)}}.html">{{p.title}}</a> ({{p.photo_count}} photos)</li>
        {% endfor %}
    {% endset %}
    {% if (list_items|trim|length) > 0 %}
        <p>Related <a href="{{page.link('/fsps/index')}}.html">Fremantle Society Photographic Survey</a> groups:</p>
        <ol class="columns">
            {{ list_items }}
        </ol>
    {% endif %}

    {% import "_macros.twig" as macros %}
    {{ macros.comments() }}

{% endblock %}
